.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: var(--default-layout-width, 1150px);
    display: flex;
}
.content {
    flex: 1;
    background-color: wheat;
    min-height: 1000px;
}
